<footer class="fixed-footer">
    <div class="song__footer">
        <img src= "./image/อาหมวยหาย.jpg" class="song_pro_footer">
        <a class="song__title_footer">อาหมวยหาย</a><br>
        <a class="song__artist_footer">THE TOYS</a>
        <img src="./image/prev.png" id="icon" class="song__play_footer">
        <img src="./image/play.png" id="icon-1" class="song__play_footer">
        <img src="./image/next.png" id="icon" class="song__play_footer">
        <img src="./image/vol.png" id="icon" class="song__vol_footer">
        <audio id="myFoot">
            <source src="./song/อาหมวยหาย.mp3" type="audio/mp3">
        </audio>
    </div>
</footer>

</body>
</html>