body{
    margin: 0;
    background-color: #FEFFEF;

}
.fixed-nav-bar { 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999; 
    width: 100%; 
}
.topnav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #781717;
    float: left;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.head {
    display: block;
    color: white;
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding: 10px 12px;
    text-decoration: none;
    float: left;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 17px;

}
.line, .name{
    color: white;
    margin: 5px 0px 0px 0px;
    padding: 10px 12px;
    float: left;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.topnav .topic:hover:not(.active) {
    background-color: rgb(75, 74, 74);
    border-radius: 20px 20px 0px 0px;
}  
.active {  
    color: black;
    background-color: #F0FF67;
    border-radius: 20px 20px 0px 0px;
}

.search-container{
    float: right;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 12px ;
    overflow: hidden;
    background-color: #f0ff67;
    
}
.search {
    float: right;
    width: 25%;
    position: relative;
    display: flex;
  }

.searchTerm {
    width: 300px;
    border: 3px black;
    padding: 2px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
