.content{
    margin-top: 6%;
}
.block{
    display: block;
    width: 55%;
    background-color: #430000;
    left:50%;
    top: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin:0;
    border-radius: 30px;
    text-decoration: none;
}

.head_pro{
    text-align: left;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.img_pro{
    text-align: center;
}
.image{
    object-fit: cover;
    border: 3px solid white ;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.info, .section{
    margin-left:35%;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 17px;
}


.button{
    display: block;
    width: 20%;
    background-color: #F0FF67;
    color: #781717;
    float: left;
    text-align: center;
    left: 20%;
    position: relative;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 10px;
    margin-top: 30px ;
    border-radius: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.btn{
    color: #781717;
    text-decoration: none;
}
.upload{
    color: black;
    background-color: aliceblue;


}