<%- include("../partials/header-ls.ejs") %>
<div class="content">
    <div class="block__artist">
        <h1 class="head_ls">UTune Artist</h1>
        <br>
        <div class="block_button">
            <a class="button_login " href= "/artist/login" >Log In</a>
            <a class="button_signup " href= "/artist/signup">Sign Up</a>
        </div>
    </div>
</div>



<%- include("../partials/nofooter.ejs") %>